* {
  box-sizing: border-box;
  margin: 0;
}

.cocker {
  float: right;
  width: 40%;
  margin-bottom: 0;
}

.hopeless {
  text-align: center;;
  font-size: 12px;
  font-weight: 100;
}

.foolhardy {
  font-size: 22px;
  font-weight: bold;
}

.rabbit-hole {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  }

.icon {
  margin: 63px 63px 0 63px;
  height: 10vh;
  width: 10vw;
}

section div {
  width: 33.333%;
  height: 33.333%
}

img {
  margin: 0;
  height: 100%;
  width: 100%;
}

.all {
  font-family: 'Raleway', sans-serif;
}

.cooper-box {
  margin: 30px;
  text-align: left;;
}

.one {
  background-color: #3ef292;
  width: 66.66%;
  text-align: left;
}

.two {
  background-color: #fca73f;
}

.three {
  background-color: #3c91e6;
}

.four {
  background-color: #ff5c59;
}

.five {
  background-color: #3ef292;
}

.six {
  background-color: #ff8d00;
}

.seven {
  background-color: #3ef292;
}

.eight {
  background-color: #fca73f;
}

.eight {
  background-color: #ff8d00;
